.sensor-readings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .average-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    .average-index {
      font-size: 36pt;
      font-family: "PT Serif";
      padding-right: 5px;
    }

    .average-desc {
      font-family: "PT Sans";
      color: #909090;
      font-style: italic;
      padding-left: 5px;
    }
  }

  .individual-sensors-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.air-bar-chart {
  .bar-chart-text {
    font-family: "PT Sans";
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
    color: #909090;

    margin-top: -18px;
  }
}