@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
body {
  margin: 0;
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selector-button {
	font-family: "PT Sans";
	font-style: italic;
	font-size: 10;
	color: white;
	background: #8f8f8f;
	border-radius: 8px;
	border: none;
	margin: 2px;


}

.selected{
	color: #8f8f8f;
	background: white;

}

#tooltip {
	background: white;
	padding: 5px;
	border-radius: 5px
}
