/* Font Imports */
/* Vickey */
@font-face {
  font-family: 'Vickey';
  src: local('Vickey'), url('./assets/fonts/vickey/Vickey-Bold.otf');
}
@font-face {
  font-family: 'PT Serif';
  src: local('PT Serif'),
    url('./assets/fonts/pt-serif/PTSerif-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: local('PT Sans'),
    url('./assets/fonts/pt-sans/PTSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans'),
    url('./assets/fonts/pt-sans/PTSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  src: local('PT Sans'),
    url('./assets/fonts/pt-sans/PTSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
    url('./assets/fonts/pt-sans/PTSans-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selector-button {
  font-family: 'PT Sans';
  font-style: italic;
  font-size: 10;
  background: #f4f4f4;
  color: #8f8f8f;
  border: 1px solid #8f8f8f;
  border-radius: 14px;
  margin: 2px;
}

.selected {
  background: #8f8f8f;
  color: #f4f4f4;
}

#tooltip {
  background: #f4f4f4;
  padding: 5px;
  border-radius: 5px;
}
